discord.py==2.3.2
flask==3.0.0
flask-migrate==4.0.5
flask-sqlalchemy==3.1.1
psycopg2-binary==2.9.9
pynacl==1.5.0
python-dotenv==1.0.0
requests==2.32.4
sqlalchemy==2.0.25
gunicorn==21.2.0
python-ffmpeg==1.0.16
yt-dlp==2023.12.30